<a href="https://colab.research.google.com/github/Wallacee22/Aulas-FPB-CCO/blob/main/Aula03fpb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#APOSENTADORIA

sexo= input('insira o s, m (masculino) ou f (feminino) ; ')
idade= int(input("digite sua idade : "))
if((sexo == "F" and idade >= 55) or (sexo == "H" and idade >=60)):
  print('pode se aposentar')
else:
  print('ainda nao pode')

In [4]:
#solicite três numeros A,B, e C
#imprima na tela se A+B é menor que C.
a = int(input('Digite o primeiro numero:' ))
b = int(input('Digite o segundo numero:' ))
c = int(input('Digite o terceiro numero:' ))
if(a+b < c):
 print('É menor')
elif(a + b == c):
  print('é igual')
else:
  print('é maior')

Digite o primeiro numero:10
Digite o segundo numero:10
Digite o terceiro numero:30
É menor

In [5]:
#Listas são estruturas de dados formadas por elementos de um mesmo tipo
numeros = [15, 2, 10, 5]
numeros

[15, 2, 10, 5]

In [6]:
#tamanho de uma lista
len(numeros)

4

In [7]:
#Indices [25, 4, 3, 6]
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])

15
2
10
5

In [8]:
#lista de outros tipos
alunos = ['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina']
alunos

['Mariana', 'Luiz', 'Higor', 'Enzo', 'Valentina']

In [10]:
#alterar os valores de itens de lista
alunos[3] = 'Ivan'
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina']

In [13]:
#inserir valores na lista .apprnd()
alunos.append('Alex')
alunos

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina', 'Alex', 'Alex', 'Alex']

In [18]:
alunos.append(input('Digite o nome: '))

Digite o nome: José

In [19]:
alunos.pop()
alunos

['Mariana',
 'Luiz',
 'Higor',
 'Ivan',
 'Valentina',
 'Alex',
 'Alex',
 'Alex',
 'Paulo']